@mixin flex (
  $justify-content: center,
  $align-items: center,
  $flex-direction: row
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}