$color-darkgrey: #3F4E5D;
$color-grey: #5C6875;
$color-lightgrey: #B2B2B2;
$color-orange: #FF680A;
$color_lightorange: #ff7c30;
$color-lightblue: #F7FBFF;
$color-black: #212121;
$color-white: #FAFAFA;


