<template>
  <main class="cart">
    <app-table />
    <router-link to="/" class="cart__button button" @click="makeOrder">Заказать</router-link>
  </main>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import AppTable from '../components/AppTable'

export default {
  name: "AppCartPage",
  components: {
    AppTable
  },
  computed: {
    ...mapGetters('cart', ['booksInCartTotalPrice'])
  },
  methods: {
    ...mapMutations('order', ['setPrice']),
    ...mapMutations('cart', ['clearCart']),
    ...mapActions('order', ['clearPriceByTimeout']),
    makeOrder() {
      this.setPrice(this.booksInCartTotalPrice)
      this.clearCart()
      this.clearPriceByTimeout(15000)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/main";

  .cart {
    @include flex(center, flex-end, column);
    gap: 15px;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 50px 15vw;

    &__button {
      text-decoration: none;
    }
  }
</style>