<template>
  <header class="header">
    <app-search class="header__search"/>
    <app-basket class="header__basket"/>
  </header>
  <main class="main">
    <app-gallery
        class="main__gallery"
        @order-book="orderBook"
    />
  </main>
  <app-order-modal
      v-if="isModalActive"
      :selected-book-index="selectedBookIndex"
      @close="isModalActive = false"
  />
  <app-message-modal v-if="isMessageActive" />
</template>

<script>
import { mapGetters } from 'vuex'
import AppSearch from "../components/AppSearch"
import AppBasket from "../components/AppBasket"
import AppGallery from "../components/AppGallery"
import AppOrderModal from "../components/AppOrderModal"
import AppMessageModal from "../components/AppMessageModal"

export default {
  name: "AppHomePage",
  data() {
    return {
      isModalActive: false,
      selectedBookIndex: 0
    }
  },
  components: {
    AppSearch,
    AppBasket,
    AppGallery,
    AppOrderModal,
    AppMessageModal
  },
  computed: {
    ...mapGetters('order', ['price']),
    isMessageActive() {
      return this.price !== 0
    }
  },
  methods: {
    orderBook(payload) {
      this.isModalActive = true
      this.selectedBookIndex = payload
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../assets/scss/main";

  .header {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-column-gap: 30px;
    box-sizing: border-box;
    padding: 0 5vw;
    background-color: $color-darkgrey;
  }

  .main {
    max-width: 100vw;
  }

  .home {
    display: grid;
    grid-auto-columns: 70% 30%;
    grid-template-areas:
        "form basket"
        "gallery gallery";

    &__form {
      grid-area: form;
    }

    &__basket {
      grid-area: basket;
    }

    &__gallery {
      grid-area: gallery;
    }
  }
</style>