@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.button {
  padding: 10px 25px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: $color-orange;
  font-size: 14px;
  font-weight: 400;
  color: $color-lightblue;
  transition: .1s;

  &:hover {
    background-color: #FF4D00;
  }

  &:active {
    background-color: $color_lightorange;
  }
}