.card {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 5px 13px 3px rgba(34, 60, 80, 0.2);

  &__caption {
    @include flex(center, flex-start, column);
    gap: 10px;
  }

  &__title {
    font-size: 20px;
  }

  &__authors {
    @include flex();
    gap: 4px;
    font-size: 10px;
  }

  &__authors-list {
    @include flex();
    gap: 3px;
  }

  &__authors-item {
    font-style: italic;
  }

  &__description {
    font-size: 8px;
  }

  &__date {
    font-size: 10px;
  }
}

.italic {
  font-style: italic;
}