<template>
  <figure class="basket">
    <router-link to="/cart">
      <app-basket-svg class="basket__picture"/>
    </router-link>
    <figcaption class="basket__text" v-if="booksInCartCount">
      Добавлено <span class="basket__text_dark">{{ booksInCartCount }}</span> товаров
      на сумму <span class="basket__text_dark">{{booksInCartTotalPrice}}</span>
    </figcaption>
  </figure>
</template>

<script>
import { mapGetters } from 'vuex'

import AppBasketSvg from "./svg/AppBasketSvg";

export default {
  name: "AppBasket",
  components: {
    AppBasketSvg
  },
  computed: {
    ...mapGetters('cart', ['booksInCartCount', 'booksInCartTotalPrice'])
  },
  methods: {
  }
}
</script>

<style scoped lang="scss">
  @import "../assets/scss/main";

  .basket {
    @include flex(center, flex-end, column);
    gap: 5px;
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 10px;

    &__text {
      font-size: 10px;
      color: $color_lightorange;

      &_dark {
        font-size: 12px;
        color: $color-orange;
      }
    }

    &__picture {
      height: 40px;
      width: 40px;

      &:hover {
        fill: $color_lightorange;
      }
    }
  }
</style>