<template>
  <li>
    <figure class="card">
      <img :src="cardInfo.imageUrl"
           alt="Обложка книги">
      <figcaption class="card__caption">
        <h4 class="card__title">{{ cardInfo.title }}</h4>
        <p class="card__authors" v-if="cardInfo.authors.length">
          Авторы: <span class="italic">{{ cardInfo.authors.join(', ') }}</span>
        </p>
        <p class="card__description">{{ cardInfo.description }}</p>
        <p class="card__date" v-if="cardInfo.publishedDate">
          Дата публикации: <b>{{ getDateInCorrectFormat(cardInfo.publishedDate) }}</b>
        </p>
        <button
            class="button"
            @click="$emit('orderBook', cardIndex)"
        >Заказать</button>
      </figcaption>
    </figure>
  </li>
</template>

<script>
export default {
  name: "AppCart",
  props: {
    cardInfo: {
      type: Object,
      required: true
    },
    cardIndex: {
      type: Number,
      required: true
    }
  },
  methods: {
    getDateInCorrectFormat(initDate) {
      const date = new Date(initDate)
      const day = (date.getDate() > 9) ? `${date.getDate()}` : `0${date.getDate()}`
      const month = (date.getUTCMonth() < 9) ? `0${date.getUTCMonth() + 1}` : `${date.getUTCMonth() + 1}`

      return `${day}.${month}.${date.getFullYear()}`
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/main";

  .card {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 30px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 2px 5px 13px 3px rgba(34, 60, 80, 0.2);

    &__caption {
      @include flex(center, flex-start, column);
      gap: 15px;
    }

    &__title {
      font-size: 24px;
    }

    &__authors {
      @include flex();
      gap: 4px;
      font-size: 16px;
    }

    &__authors-list {
      @include flex();
      gap: 3px;
    }

    &__authors-item {
      font-style: italic;
    }

    &__description {
      text-align: justify;
      font-size: 14px;
    }

    &__date {
      font-size: 16px;
    }
  }

  .italic {
    font-style: italic;
  }
</style>