<template>
  <section class="gallery">
    <ul class="gallery__list">
        <app-card
          class="gallery__item"
          v-for="(item, index) in booksInfo"
          :key="index"
          :card-info="item"
          :card-index="index"
          @order-book="orderBook"
        />
    </ul>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import AppCard from './AppCard'

export default {
  name: "AppGallery",
  components: {
    AppCard
  },
  computed: {
    ...mapGetters('gallery', ['booksInfo']),
  },
  methods: {
    orderBook(payload) {
      this.$emit('orderBook', payload)
    }
  }
}
</script>

<style scoped lang="scss">
  @import "../assets/scss/main";

  .gallery {
    @include flex();
    box-sizing: border-box;
    padding: 40px 10vw;

    &__list {
      @include flex(center, center, column);
      gap: 30px;
      width: 80%;
    }

    &__item {
      width: 100%;
    }
  }
</style>