<template>
  <p class="message">Ваш заказ на сумму {{ price }} успешно оформлен</p>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: "AppMessageModal",
  computed: {
    ...mapGetters('order', ['price'])
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/main";

.message {
  position: fixed;
  bottom: 40px;
  right: 40px;
  box-sizing: border-box;
  padding: 30px 35px;
  background-color: $color-white;
  color: $color-orange;
  font-size: 16px;
  box-shadow: 0 0 14px 12px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}
</style>