<template>
  <form class="form">
    <input v-model="name.value" id="name" class="form__input" type="text" placeholder="Имя*">
    <label
        for="name"
        class="form__label"
        :class="{'form__label_hidden' : name.isValid}"
    >Имя слишком короткое</label>

    <input v-model="email.value" id="email" class="form__input" type="email" placeholder="Email*">
    <label
        for="email"
        class="form__label"
        :class="{'form__label_hidden' : email.isValid}"
    >Почта должна содержать @</label>

    <input v-model="phone.value" id="phone" class="form__input" type="tel" placeholder="Телефон*">
    <label
        for="phone"
        class="form__label"
        :class="{'form__label_hidden' : phone.isValid}"
    >Допустимый формат +380*********</label>

    <button
        class="button"
        :disabled="!isField"
        type="button"
        @click="addToCart">Отправить</button>
  </form>
</template>

<script>
export default {
  name: "AppOrderForm",
  data() {
    return {
      name: {
        value: '',
        isValid: true
      },
      email: {
        value: '',
        isValid: true
      },
      phone: {
        value: '',
        isValid: true
      }
    }
  },
  computed: {
    isField() {
      return this.name.value.trim() !== '' &&
          this.email.value.trim() !== '' &&
          this.phone.value.trim() !== ''
    }
  },
  methods: {
    validateName() {
      return this.name.isValid = this.name.value.trim().length >= 2
    },
    validateEmail() {
      return this.email.isValid = /.+@.+\..+/.test(this.email.value)
    },
    validatePhone() {
      return this.phone.isValid = /(^\+380)\d{9}$/.test(this.phone.value)
    },
    addToCart(event) {
      event.preventDefault()
      const isNameValid = this.validateName()
      const isEmailValid = this.validateEmail()
      const isPhoneValid = this.validatePhone()

      if (isNameValid && isEmailValid && isPhoneValid) {
        this.$emit('addToCart')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/main";

.form {
  @include flex(center, center, column);

  &__input {
    min-width: 170px;
    padding: 3px 10px;
    border-bottom: 1px solid #999;
    background-color: transparent;
    font-size: 16px;
    text-align: center;

    &::placeholder {
      color: $color-grey;
    }

    &:focus {
      outline: none;
      border-bottom-color: #000;
    }
  }

  &__label {
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 10px;
    color: red;
    transition: .1s;

    &_hidden {
      color: transparent;
    }
  }

  .button:disabled {
    background-color: $color-grey;
  }
}
</style>