<template>
  <div class="wrapper">
    <section class="order">
      <figure class="order__info">
        <img class="order__image"
             :src="bookInfo.imageUrl"
             alt="Обложка книги">
        <figcaption class="order__caption">
          <p class="order__description">{{ bookInfo.description }}</p>
        </figcaption>
      </figure>
      <app-order-form @add-to-cart="addToCart" />
    </section>
    <button class="wrapper__toggle" @click="$emit('close')">&#10006;</button>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import AppOrderForm from "./AppOrderForm";

export default {
  name: "AppOrderModal",
  props: {
    selectedBookIndex: {
      type: Number,
      required: true
    }
  },
  components: {
    AppOrderForm
  },
  computed: {
    ...mapGetters('gallery', ['getBookByIndex']),
    bookInfo() {
      return this.getBookByIndex(this.selectedBookIndex)
    }
  },
  methods: {
    ...mapMutations('cart', ['addBookIntoCart']),
    addToCart() {
      this.addBookIntoCart(this.bookInfo)
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/main";

  .wrapper {
    position: fixed;
    @include flex();
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);

    &__toggle {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 40px;
      z-index: 100;
      background-color: transparent;
      font-size: 30px;
      color: $color-lightgrey;
      transition: .1s;

      &:hover {
        color: $color-grey;
      }
    }
  }

  .order {
    @include flex(center, center, column);
    gap: 15px;
    width: 60vw;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 5px;
    background-color: $color-white;

    &__info {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-gap: 20px;
    }

    &__image {
      width: 8vw;
      box-shadow: 0 0 8px 5px rgba(34, 60, 80, 0.2);
    }

    &__description {
      font-size: 14px;
    }
  }
</style>