<template>
  <form class="form">
    <input
        class="form__input"
        type="text"
        placeholder="Введите название книги"
        v-model="inputValue"
    >
    <button
        class="button"
        type="submit"
        @click="submitForm"
    >Поиск</button>
  </form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: "AppSearch",
  data() {
    return {
      inputValue: ''
    }
  },
  methods: {
    ...mapActions('gallery', ['fetchSearchInfo']),
    submitForm(event) {
      event.preventDefault()
      this.fetchSearchInfo(this.inputValue)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../assets/scss/main";

  .form {
    @include flex();
    gap: 10px;
    padding: 25px 0;

    &__input {
      width: 100%;
      padding: 10px 25px;
      box-sizing: border-box;
      border-radius: 15px;
      background-color: $color-lightblue;
      font-size: 14px;
      color: $color-black;
      transition: .1s;
    }
    &__input:focus {
      border: none;
      outline: none;
      background-color: #5C6875;
      color: $color-white;
    }
  }
</style>