<template>
  <table class="table">
    <tfoot class="table__footer">
    <tr class="table__row">
      <td class="table__data" colspan="2">Всего:</td>
      <td class="table__data table__data_price">{{ booksInCartTotalPrice }} грн</td>
    </tr>
    </tfoot>
    <tbody class="table__body">
    <tr class="table__row"
        v-for="(item, index) in booksInCart"
        :key="index"
    >
      <td class="table__data">
        <img class="table__image"
             :src="item.imageUrl"
             alt="обложка"/>
      </td>
      <td class="table__data table__data_justify">{{ item.description }}</td>
      <td class="table__data table__data_price">{{ item.price }} грн</td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: "AppTable",
  computed: {
    ...mapGetters('cart', ['booksInCart', 'booksInCartTotalPrice'])
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/main";

.table {
  border-spacing: 10px;
  -webkit-border-horizontal-spacing: 20px;
  border-collapse: collapse;


  &__row {
    border-top: 1px solid $color-lightgrey;

  }

  &__image {
    width: 10vw;
  }

  &__data {
    padding: 20px;
    font-size: 14px;

    &_price {
      color: $color-orange;
      white-space: nowrap;
    }

    &_justify {
      text-align:justify;
    }
  }

  &__footer {

    .table {

      &__row {
        border-top: 1px solid $color-lightgrey;
        border-bottom: 1px solid $color-lightgrey;
      }
    }
  }
}
</style>