<template>
  <router-view/>
</template>

<style lang="scss">
@import "./assets/scss/main";

  body {
    background-color: $color-white;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    min-height: 100vh;
  }
</style>